<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_cer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PantsActivity"></activity>
        <activity android:name=".activity.ShirtActivity" />
        <activity android:name=".activity.TeethActivity" />
        <activity android:name=".activity.LiquidActivity" />
        <activity android:name=".activity.PastyActivity" />
        <activity android:name=".activity.BodyActivity" />
        <activity android:name=".activity.StepActivity" />
        <activity android:name=".activity.SolidActivity" />
        <activity android:name=".activity.ClothesActivity" />
        <activity android:name=".activity.HygineActivity" />
        <activity android:name=".activity.MealsActivity" />
        <activity android:name=".activity.DailyLifeActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.EditRegisterActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.Login" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>